<%- include("header") %> 

<h2>Cos tam cos tam</h2>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium optio nihil nesciunt laudantium asperiores laboriosam tempora animi corporis! Aliquid quis numquam doloremque ratione quidem reiciendis fugiat molestias dolorum, quod voluptates!</p>

<%- include("footer") %> 