/* setting min height of html to 100%, to prevent gradient from repeating as background */
html{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(35deg, #3CF6BF,#CCF4E8);
}

.wrapper{
    width: 90%;
    margin: auto;
}

main{
    margin-top: 2rem;
    background-color: white;
    border: 5px solid black;
    filter: drop-shadow(-10px);
}

h1{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
    margin-bottom: 0;
}

#message{
    font-size: 3rem;
    font-weight:700;
}

#random-joke{
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0;
    color: gray;
}